- content_for :more do
  - link_to 'More', account_transactions_path(@account.id, :as_at => @closing_date), :id => 'more-transactions'

- @transactions.each do |transaction|
  - @balance += transaction['amount'] * (transaction['direction'].eql?('inflow') ? 1 : -1)
  %tr.transaction
    %td.transactionDate #{Date.parse(transaction['transaction_date']).to_formatted_s :rfc822}
    %td.details
      %table
        %tr
          %td.payee{:colspan => 2} #{transaction['payee_security']}
        %tr
          %td.category #{transaction['category']}
          %td #{transaction['subcategory']}
        %tr
          %td.memo{:colspan => 2} #{transaction['memo']}
    %td.amount #{number_to_currency transaction['amount'] if transaction['direction'].eql? 'outflow'}
    %td.amount #{number_to_currency transaction['amount'] if transaction['direction'].eql? 'inflow'}
    %td.amount #{number_to_currency @balance}
