.container
  %table.table.table-striped.table-bordered.table-hover
    - @accounts.each do |type,v|
      %thead
        %tr
          %th{:colspan => 2} #{type}
      - v[:accounts].each do |account|
        %tr
          %td #{link_to account['name'], account_transactions_path(account['id'])}
          %td.rightCell #{number_to_currency account['closing_balance']}
      %tr
        %th.rightCell{:colspan => 2} #{number_to_currency v[:total]}
    %tr
      %td #{"Total"}
      %th.rightCell #{number_to_currency @accounts.map {|_,v| v[:total]}.reduce(:+)}
